---
const personalImageAlt = "Gerson Reynaga";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-800 dark:[&>p>strong]:text-yellow-300 [&>p>strong]:font-bold [&>p>strong]:font-sans dark:text-gray-300 [&>p>span]:text-red-500 [&>p>span]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hola me llamo Gerson Reynaga. <span
        >Soy amante de los videojuegos y la tecnología desde muy temprana edad</span
      >, Comencé a adentrarme en la programación para requerir herramientas
      necesarias que surgen en el día a día, para mas adelante poder realizar mi
      sueño de <strong>DESARROLLAR MI PRIMER VIDEOJUEGO</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/reynaga.webp"
    alt={personalImageAlt}
    class="order-1 object-contain w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
