---
const personalImageAlt = "Gerson Reynaga";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-semibold [&>p>strong]:font-mono dark:text-gray-300 dark:[&>p>span]:text-red-300 [&>p>span]:text-red-500 [&>p>span]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hola me llamo Gerson Reynaga. <span
        >Me gusta los videosjuegos y la tecnologia desde temprana edad</span
      >, Empece en la programacion para adentrame y saber mucho mas sobre la
      programación. Me gustaría llegar a <strong
        >DESARROLLAR MI PRIMER VIDEOJUEGO</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/reynaga.webp"
    alt={personalImageAlt}
    class="order-1 object-contain w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
  />
</article>
