---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "2023 - Actualmente..",
    title: "Principal Frontend Developer",
    company: "Cobox Logistic",
    description: `
    Encargado del desarrollo de la plataforma web, diseñé un dashboard interactivo para visualizar datos en tiempo real y una herramienta de cotización dinámica. 
    Implementé geolocalización avanzada con la API de Google Maps y soluciones para la gestión de inventarios, incluyendo carga masiva de datos y administración de productos.`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
